h1 {
    position: absolute;
    top: 40vh;
    left: 40vh;
    font-style: italic;
}
  
  .icon {
    position: absolute;
    top: 42.8vh;
    right: 80vh;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
  }
  
  .arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: black;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
  }
  
  .arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: black;
  }
  
  .arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
  .arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }